NFC_SERVICE_HOST=127.0.0.1
NFC_SERVICE_PORT=5139
NFC_WRITE_ENABLED=true
NFC_BRIDGE_TOKEN=same_with_dashboard
NFC_TOKEN_PREFIX=rp_badge_
NFC_TOKEN_BYTES=12
NFC_NDEF_START_BLOCK=4
NFC_NDEF_BLOCK_SIZE=4
NFC_NDEF_MAX_BYTES=48
NFC_CLASSIC_ENABLED=true
NFC_CLASSIC_START_BLOCK=4
NFC_CLASSIC_BLOCK_SIZE=16
NFC_CLASSIC_BLOCK_COUNT=3
NFC_CLASSIC_KEY_TYPE=A
NFC_CLASSIC_KEYS=FFFFFFFFFFFF,D3F7D3F7D3F7
