NFC_SERVICE_HOST=127.0.0.1
NFC_SERVICE_PORT=5139
NFC_WRITE_ENABLED=true
NFC_BRIDGE_TOKEN=same_with_dashboard
NFC_TOKEN_PREFIX=rp_badge_
NFC_TOKEN_BYTES=12
NFC_NDEF_START_BLOCK=4
NFC_NDEF_BLOCK_SIZE=4
NFC_NDEF_MAX_BYTES=48
